<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="https://github.com/LucasScott2000/Greenhousewebapp/raw/greenhouse-website/node-example/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenhouse Data and Status</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <nav class="green lighten-1">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Current Greenhouse Data and Status</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/login">Logout</a></li>
            <li><a href="/menu"> Home Menu</a></li>
          </ul>
        </div>
      </nav>
      <br>
    <div class="container">
      <div id="sensors" class="row">
            {% for sensor in sensors %}
            <div class="col s4" >
                <div id="{{ sensor.sensor_type }}" class="card-panel green lighten-3">Sensor : 
                    {% if sensor.sensor_type == "airTemp" %}
                        Air Temperature (째C)
                    {% elif sensor.sensor_type == "humidity" %}
                        Humidity (%)
                    {% elif sensor.sensor_type == "airPress" %}
                        Air Pressure (hPa)
                    {% endif %}
                    <br> Current Value : {{ sensor.value }}
                    {% if sensor.sensor_type == "airTemp" %}
                        째C
                    {% elif sensor.sensor_type == "humidity" %}
                        %
                    {% elif sensor.sensor_type == "airPress" %}
                        hPa
                    {% endif %}
                    <br> Timestamp : {{ sensor.timestamp }}</div>
            </div>
            {% endfor %}
        </div> 
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  

    <script>
      function run() {

        // Creating Our XMLHttpRequest object 
        let xhr = new XMLHttpRequest();

       // Making our connection  
        let url = 'http://localhost:3000/getsensordata';
       xhr.open("GET", url, true);

        // function execute after request is successful 
       xhr.onreadystatechange = function () {
           if (this.readyState == 4 && this.status == 200) {
            const jsonResponse = JSON.parse(this.responseText);
            jsonResponse.forEach(sensor => {
              // Get the sensor type and value 
              const sensorType = sensor.sensor_type;
              const sensorValue = sensor.value;

              // Format the timestamp
              const timestamp = new Date(sensor.timestamp);
              const formattedTimestamp = timestamp.toLocaleString();

              // Update the HTML content of the sensor's div with the new value and formatted timestamp
              const sensorDiv = document.getElementById(sensorType);
              if (sensorDiv) {
                  sensorDiv.innerHTML = `Sensor: 
                    ${sensorType == "airTemp" ? "Air Temperature (째C)" : 
                      sensorType == "humidity" ? "Humidity (%)" : 
                      sensorType == "airPress" ? "Air Pressure (hPa)" : sensorType}
                    <br>Current Value: ${sensorValue}
                    {% if sensor.sensor_type == "airTemp" %}
                        째C
                    {% elif sensor.sensor_type == "humidity" %}
                        %
                    {% elif sensor.sensor_type == "airPress" %}
                        hPa
                    {% endif %}
                    <br>Timestamp: ${formattedTimestamp}`;
              }
          });
           }
       }
        // Sending our request 
        xhr.send();
    }
    setInterval(run, 2000);
    </script>
</body>
</html>
