<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
<style> body {
    background-color: lightblue;
  }</style>
<body>
    <nav class="green lighten-1">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Current Greenhouse Data and Status</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/login">Logout</a></li>
            <li><a href="/menu"> Home Menu</a></li>
          </ul>
        </div>
      </nav>
      <br>
    <div class="container">
      <div id="sensors" class="row">
            {% for sensor in sensors %}
            <div class="col s4" >
                <div id="{{ sensor.sensor_type }}" class="card-panel green lighten-3">Sensor : {{ sensor.sensor_type | replace("_", " ") | title  }} <br> Value : {{ sensor.value }} <br> Timestamp : {{ sensor.timestamp }}</div>
            </div>
            {% endfor %}
        </div> 
    </div>

</body>
<script>
  function run() {

    // Creating Our XMLHttpRequest object 
    let xhr = new XMLHttpRequest();

   // Making our connection  
    let url = 'http://localhost:3000/getsensordata';
   xhr.open("GET", url, true);

    // function execute after request is successful 
   xhr.onreadystatechange = function () {
       if (this.readyState == 4 && this.status == 200) {
        const jsonResponse = JSON.parse(this.responseText);
        jsonResponse.forEach(sensor => {
          // Get the sensor type and value 
          const sensorType = sensor.sensor_type;
          const sensorValue = sensor.value;

          // Update the HTML content of the sensor's div with the new value
          const sensorDiv = document.getElementById(sensorType);
          console.log(sensorDiv);
          if (sensorDiv) {
              sensorDiv.innerHTML = `Sensor: ${sensorType}<br>Value: ${sensorValue}<br>Timestamp: ${sensor.timestamp}`;
          }
      });
       }
   }
    // Sending our request 
    xhr.send();
}
setInterval(run, 2000);
</script>