<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenhouse Home Menu</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="node-example/logo.png">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style> 
        body {
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <nav class="green lighten-1">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Greenhouse Home Menu</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/login">Logout</a></li>
            </ul>
        </div>
    </nav>
    <br>
    {% if user %}
    <h5 class="black-text center" style="font-weight:bold">Welcome back {{user}}!</h5>
    {% endif %}
    <br>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <a href='/greenhouse' class="black-text">
                    <div class="card-panel green lighten-3 hoverable center" style="cursor: pointer">Real-time Greenhouse Data</div>
                </a>
            </div>
            <div class="col s12">
                <a href='/historical' class="black-text">
                    <div class="card-panel green lighten-3 hoverable center" style="cursor: pointer">View Historical Greenhouse Data</div>
                </a>
            </div>
            <div class="col s12">
                <a href='/changegreenhouse' class="black-text">
                    <div class="card-panel green lighten-3 hoverable center" style="cursor: pointer">Change Greenhouse Environment</div>
                </a>
            </div>
            <div class="col s12">
                <a href='/settings' class="black-text">
                    <div class="card-panel green lighten-3 hoverable center" style="cursor: pointer">Settings</div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
